:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  --color00: #fff;
  --color10: #fff;
  --color15: #f7f4f0;
  --color20: #c8c8c8;
  --color30: #bebebe;
  --color40: #aaa;
  --color50: #888;
  --color60: #666;
  --color70: #444;
  --color80: #1f3a55;
  --color90: #17212b;
  --color100: #888;
  --color100: #000;
}

html {
  color: var(--color100);
  background: linear-gradient(to bottom, transparent, var(--color15)) var(--color10);
  height: 100%;
}

html.dark {
  --color00: #000;
  --color10: #0e1621;
  --color15: #17212b;
  --color20: #1f3a55;
  --color30: #2b5278;
  --color40: #00639bff;
  --color50: #047db7ff;
  --color60: #3998d3ff;
  --color70: #5ab3f0ff;
  --color80: #8df;
  --color90: #cef;
  --color95: #888;
  --color100: #fff;
}

a {
  font-weight: 500;
  color: var(--color90);
  text-decoration: inherit;
  transition: opacity 0.25s ease-in;
}
a:hover {
  opacity: 0.7;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

.body__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./bg_bot.svg'), url('./bg_top.svg');
  background-repeat: no-repeat;
  background-size:
    50% auto,
    50% auto;
  background-position:
    0 calc(100% - 3rem),
    100% 3rem;
  opacity: 0.1;
  z-index: -1;
}

.main {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  user-select: none;
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color20);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  padding: 0.5rem 4rem;
  background-color: var(--color20);
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.4);
}

code {
  color: var(--color60);
  font-size: 1.3em;
}

.hidden {
  display: none;
}

.opaque {
  opacity: 0;
}

/* == Scroll == */
.scrolled {
  overflow-y: scroll;
  scrollbar-width: 10px;
}
.scrolled::-webkit-scrollbar {
  width: 12px;
}
.scrolled::-webkit-scrollbar-track {
  background: var(--color15);
  border-radius: 6px;
}
.scrolled::-webkit-scrollbar-thumb {
  background-color: var(--color40);
  border: 2px solid var(--color15);
  border-radius: 6px;
}

/* Button */
.button {
  display: block;
  border: none;
  outline: none;
  margin: 2em auto;
  padding: 0.5em 2em;
  background-color: var(--color40);
  border: 2px solid var(--color30);
  border-radius: 0.5em;
  box-shadow:
    0px 3px 5px rgba(0, 0, 0, 0.4),
    3px 0px 5px rgba(0, 0, 0, 0.4);

  cursor: pointer;
  transition: all 0.25s linear;
}
.button:hover {
  background-color: var(--color50);
  border-color: var(--color40);
}
