.message__wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color20);
  border-radius: 1em;
  padding: 0.5em 2em;
  box-shadow:
    0px 3px 5px rgba(0, 0, 0, 0.4),
    3px 0px 5px rgba(0, 0, 0, 0.4);
  animation: slide-down 1s forwards;

  display: flex;
  column-gap: 1em;
  align-items: center;
}

@keyframes slide-down {
  from {
    top: 0;
  }
  to {
    top: 4em;
  }
}

.message__icon {
  text-align: center;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  background-color: green;
}
